@model List<ERP.MVC.Application.DTOs.CompanyDto>

@{
    ViewData["Title"] = "Company List";
}

<div class="row">
    <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Company Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Company List</a></li>
    </ol>
</div>

<div class="row">&nbsp;</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Company List</h3>
            &nbsp;<a asp-controller="Company" asp-action="CompanyView" class="btn btn-success">Add New Company</a>
        </div>
        <div class="card-body border-bottom py-3">
            <form method="get" asp-action="CompanyList">
                <div class="d-flex">
                    <div class="text-secondary">
                        Show
                        <div class="mx-2 d-inline-block">
                            <input type="text" name="pageSize" class="form-control form-control-sm" value="@ViewBag.PageSize" size="3" aria-label="Companies count">
                        </div>
                        entries
                    </div>
                    <div class="ms-auto text-secondary">
                        Search:
                        <div class="ms-2 d-inline-block">
                            <input type="text" name="search" class="form-control form-control-sm" value="@ViewBag.SearchQuery" aria-label="Search company">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm ms-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th >
                            <a href="javascript:void(0);" onclick="sort('CompanyName')">Company Name</a>
                        </th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Is Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model)
                    {
                        <tr>
                            <td>@company.CompanyName</td>
                            <td>@company.MobileNo</td>
                            <td>@company.Email</td>
                            <td>@company.Address</td>
                            <td>@(company.IsActive ? "Active" : "Inactive")</td>
                            <td>
                                <a asp-controller="Company" asp-action="CompanyView" asp-route-id="@company.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@company.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center">
            <p class="m-0 text-secondary">Showing <span>@(ViewBag.CurrentPage * ViewBag.PageSize - (ViewBag.PageSize - 1))</span> to <span>@(ViewBag.CurrentPage * ViewBag.PageSize > ViewBag.TotalEntries ? ViewBag.TotalEntries : ViewBag.CurrentPage * ViewBag.PageSize)</span> of <span>@ViewBag.TotalEntries</span> entries</p>
            <ul class="pagination m-0 ms-auto">
                @for (int i = 1; i <= (int)Math.Ceiling((double)ViewBag.TotalEntries / ViewBag.PageSize); i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" asp-action="CompanyList" asp-route-page="@i" asp-route-search="@ViewBag.SearchQuery" asp-route-pageSize="@ViewBag.PageSize">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<script>
    function sort(field) {
        var currentSortField = '@ViewBag.SortField';
        var currentSortOrder = '@ViewBag.SortOrder';
        var newSortOrder = currentSortField === field && currentSortOrder === 'asc' ? 'desc' : 'asc';

        window.location.href = '@Url.Action("CompanyList", "Company")' +
            '?search=' + '@ViewBag.SearchQuery' +
            '&page=' + '@ViewBag.CurrentPage' +
            '&pageSize=' + '@ViewBag.PageSize' +
            '&sortField=' + field +
            '&sortOrder=' + newSortOrder;
    }
</script>
